<nz-card style="width: 250px;margin-top: 16px" [nzActions]="[actionViewPdf, actionViewHtml, actionViewDecision]">
  <nz-card-meta [nzAvatar]="avatarTemplate" [nzTitle]="complaint.nazivOrgana.value"
    [nzDescription]="descriptionTemplate">
  </nz-card-meta>
</nz-card>
<ng-template #avatarTemplate>
  <i nz-icon nzType="container" nzTheme="outline"></i>
</ng-template>
<ng-template #descriptionTemplate>
  <span nz-typography nzType="secondary" nzEllipsis nzExpandable [nzEllipsisRows]="7">
    {{ complaint.opisZalbe }}
  </span>
</ng-template>
<ng-template #actionViewPdf>
  <nz-spin [nzSpinning]="pdfLoading" [nzSize]="'small'" (click)="openComplaintPdf()">
    <i nz-icon nzType="file-pdf"></i>
  </nz-spin>
</ng-template>
<ng-template #actionViewHtml>
  <nz-spin [nzSpinning]="htmlLoading" [nzSize]="'small'" (click)="openComplaintHtml()">
    <i nz-icon nzType="code"></i>
  </nz-spin>
</ng-template>
<ng-template #actionDelete>
  <i nz-icon nzType="delete"></i>
</ng-template>
<ng-template #actionViewDecision>
  <i nz-icon nzType="file-protect"></i>
</ng-template>