<nz-card style="width: 250px"
  [nzActions]="complaint.status?.value === 'GOTOV' ? [actionsComplaint, actionsDecision] : [actionsComplaint]">
  <nz-card-meta [nzAvatar]="avatarTemplate" [nzTitle]="complaint.nazivOrgana.value"
    [nzDescription]="descriptionTemplate">
  </nz-card-meta>
</nz-card>
<ng-template #avatarTemplate>
  <i nz-icon nzType="container" nzTheme="outline"></i>
</ng-template>
<ng-template #descriptionTemplate>
  <span nz-typography nzType="secondary" nzEllipsis nzExpandable [nzEllipsisRows]="7">
    {{ complaint.podaciZahteva }}
  </span>
</ng-template>
<ng-template #actionsComplaint>
  <nz-space>
    <nz-space-item>
      <nz-spin nz-tooltip nzTooltipTitle="Otvori zalbu pdf" [nzSpinning]="pdfLoading" [nzSize]="'small'"
        (click)="openComplaintPdf()">
        <i nz-icon nzType="file-pdf"></i>
      </nz-spin>
    </nz-space-item>
    <nz-space-item>
      <nz-spin nz-tooltip nzTooltipTitle="Otvori zalbu html" [nzSpinning]="htmlLoading" [nzSize]="'small'"
        (click)="openComplaintHtml()">
        <i nz-icon nzType="code"></i>
      </nz-spin>
    </nz-space-item>
  </nz-space>
</ng-template>
<ng-template #actionsDecision>
  <nz-space>
    <nz-space-item>
      <nz-spin nz-tooltip nzTooltipTitle=" Otvori resenje pdf" [nzSpinning]="decisionPdfLoading" [nzSize]="'small'"
        (click)="openDecisionPdf()">
        <i nz-icon nzType="file-pdf"></i>
      </nz-spin>
    </nz-space-item>
    <nz-space-item>
      <nz-spin nz-tooltip nzTooltipTitle="Otvori resenje html" [nzSpinning]="decisionHtmlLoading" [nzSize]="'small'"
        (click)="openDecisionHtml()">
        <i nz-icon nzType="code"></i>
      </nz-spin>
    </nz-space-item>
  </nz-space>
</ng-template>