<form nz-form [formGroup]="registerForm" (ngSubmit)="register()">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="firstNameErrorTpl">
      <nz-input-group nzPrefixIcon="align-left">
        <input type="text" nz-input formControlName="firstName" placeholder="Ime" />
        <ng-template #firstNameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Ime je obavezno
          </ng-container>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="lastNameErrorTpl">
      <nz-input-group nzPrefixIcon="align-left">
        <input type="text" nz-input formControlName="lastName" placeholder="Prezime" />
        <ng-template #lastNameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Prezime je obavezno
          </ng-container>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="emailErrorTpl">
      <nz-input-group nzPrefixIcon="mail">
        <input type="email" nz-input formControlName="email" placeholder="Email" />
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="control.hasError('email')">
            Email je neispravan
          </ng-container>
          <ng-container *ngIf="control.hasError('required')">
            Email je obavezan
          </ng-container>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="passwordErrorTpl">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Lozinka" />
        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Lozinka je obavezna
          </ng-container>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button nz-button [nzBlock]="true" [nzLoading]="loading" [nzType]="'primary'">Registruj se</button>
</form>