<div class="root">
  <a routerLink="/" class="logoArea">
    <nz-space nzSize="middle">
      <nz-space-item>
        <i nz-icon nzType="fund-view" nzTheme="outline"></i>
      </nz-space-item>
      <nz-space-item>
        <span>Euprava poverenik</span>
      </nz-space-item>
    </nz-space>
  </a>

  <div class="emptySpace"></div>

  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item>
      <a routerLink="/register">
        <i nz-icon nzType="user-add"></i>
        Register
      </a>
    </li>
    <li nz-menu-item>
      <a routerLink="/login">
        <i nz-icon nzType="login"></i>
        Login
      </a>
    </li>
  </ul>
</div>